{% extends "base.tmpl" %}

{% block mybody %}
    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h1>Goal</h1>
        </div>
        <p class="lead">The main page content you want to read.</p>
        <p>I hope you enjoyed the doorslam. Link to this site to show others how great door slamming is.</p>
      </div>


    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
{% endblock %}