{% extends "base.tmpl" %}

{% block mybody %}

    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h1>Doorslam</h1>
        </div>
        <p class="lead">Try to access the content at <a href="/goal">goal</a> </p>
        <p >That didn't work? Try again <a href="/goal?goal">goal</a> </p>
      </div>


    </div>




<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Desktop computer detected</h3>
  </div>
  <div class="modal-body">
    <p>I see you are using a desktop computer. Why not use our great APP for your desktop to access our website? It can only
      access our website, but you don't care about that. It's far less usefull than your browser.</p>
    <p>If you were trying to access /goal directly, then I've helpfully redirected you back to the homepage. I am sure you can just do your search again.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>
{% endblock %}

{% block myjs %}
 <script> $('#myModal').modal('show') </script>
 {% endblock %}